<div class="wrap">
	<p>
		<h2>Frontend Render Test</h2>
		<ul>
				<li>Plugin url : <b>{{ val2 }}</b></li>
				<li>Render mode : <b>{{ val1 }}</b> </li>
				<li>SSR enviroment : <b>{{js_runtime}}</b></li>
		</ul>
	</p>

	<div class="test-render">
		<div class="twig-code">
			react_component('ClientHydrated', {'props': props})
		</div>
		<div class="">{{react_component('ClientHydrated', {'props': props})}}</div>
		<div class="raw-html">
			{{ react_component('ClientHydrated', {'props': props}) |html_entity_decode }}
		</div>
	</div>

	<div class="test-render">
		<div class="twig-code">
			react_component('ServerRendered', {'props': props,'rendering': 'server_side'})
		</div>
		<div>{{react_component('ServerRendered', {'props': props,'rendering': 'server_side'})}}</div>
		<div class="raw-html">
			{{ react_component('ServerRendered', {'props': props,'rendering': 'server_side'}) |html_entity_decode }}
		</div>
	</div>

	<div class="test-render">

		<div class="twig-code">
			react_component('ClientRendered', {'props': props,'rendering': 'client_side'})
		</div>
		<div>{{react_component('ClientRendered', {'props': props,'rendering': 'client_side'})}}</div>
		<div class="raw-html">
			{{react_component('ClientRendered', {'props': props,'rendering': 'client_side'}) |html_entity_decode }}
		</div>
	</div>

</div>
