.dashboard {

  color: white;
	padding: 1em;
	&.app-a{
		background-color: #51496c;
	}
	&.app-b{
		background-color: #bd5715;
	}
	&.app-c{
		background-color: #264427;
	}
}

.MuiButton-root{
	&.MuiButton-textPrimary{
		background-color: aliceblue;
	}
}

.raw-html {
	padding: 1em;
	background-color: #808b97;
	color: #fff;
	font-family: monospace;
	font-size: .8em;
}
.twig-code {
	padding: 1em;
	background-color: #808b97;
	color: #fff;
	font-family: monospace;
	font-size: 1.3em;
}

.test-render{
	margin-bottom: 20px;;
}
